@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

#main-wrapper {
    display: grid;
    grid-template-columns:20% 80%;
    height: 100vh;
}


main > p {
    font-family: "Montserrat",sans-serif;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.5;
    text-align: justify;
    margin: 0 auto;
}

#menu {
    grid-column: 1 / 2;
    background-color:#24252A;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    text-align: left;
    overflow-wrap: anywhere;
    padding: 0 1em;
}   

#menu .logo {
    max-width: 65%;
    margin: 7em auto 0 auto;
    padding-bottom: 2.5em;
}

#menu li {
    font-family: "Montserrat",sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    font-weight: 600;
    list-style: none;
    margin: 0.5em 0;
} 

#menu li:hover {
    background-color: #46464b;
    border-radius: 1em;
    cursor: pointer;
    transition: 0.4s;
}

#menu .active {
    background-color: #141427;
    border: 1px solid #141427;
    border-radius: 1em;
}

#menu li .material-symbols-outlined {
    margin-right: 0.8em;
    vertical-align: middle;
}

#menu li a {
    font-weight: 600;
    display: block;
    height: 100%;
    padding: 1.2em;
}

#menu ul {
    padding: 0;
    display: flex;  
    flex-direction: column;
} 

#menu footer button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
}

main {
    grid-column: 2 / 3;
    padding: 2.5em;
    word-break: break-word;
    overflow-y: scroll;
}


/*-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x*/
                        /* CSS for index.php */

#home_main {
    background-image: url("../images/background-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.85; /* Change the value to make the background less or more opaque */
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

#home_main h1 {
    font-family: "Montserrat", sans-serif;
    color: white;
    margin: auto auto;
    font-size: 3.3em;
    letter-spacing: 0.1em;
}

/*-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x*/
                        /* CSS for search bar */

body header{
    grid-column: 2 / 3;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24252A;
    border-radius: 25px;
    padding: 5px 10px;
    width: 25em;
    margin: 2em auto;
  }
  
  .search-form input[type="text"] {
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 100%;
    padding: 0.8em;
    color:white;
    margin-bottom: 0;

}
  .search-form input[type="text"]::placeholder {
    color: white;
}
  
  .search-form button[type="submit"] {
    background-color: transparent;
    border: none;
    cursor: pointer;

    margin-left: -30px;
  }
  
  .search-form button[type="submit"] img {
    width: 20px;
    height: 20px;
  }
  .search-form input[type="text"]:focus {
    outline: none;
  }



/*-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x*/
                        /* CSS for Ticket */

  table {
    width: 95%;
    border: 1px solid black;
    border-radius: 0.7em;
    font-family: "Montserrat",sans-serif;
    margin: auto;
  } 
  
  th, td {
    text-align: left;
    padding: 8px;
    margin: 10px;
  }
  
  th{
    color: rgb(27, 175, 243);
    font-weight:bold;
  }
  td{
    color:rgb(63, 63, 63);
    font-size: 0.9em;
    
  }
  .table_title{
    font-weight: bold;
    color:black;
    font-size: 1em;
    padding: 0.5em;

  }

  .priority-high{
    background-color: red;
    border-radius: 0.5em;
    text-align: center;
    padding: 0.4em;
    padding-left: 0.1em;
    padding-right: 0.1em;
  }
  .priority-medium{
    background-color: yellow;
    border-radius: 0.5em;
    text-align: center;
    padding: 0.4em;
    padding-left: 0.2em;
    padding-right: 0.2em;

  }
  .priority-low{
    background-color: green;
    border-radius: 0.5em;
    text-align: center;
    padding: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
  }


  /** LOGIN PAGE **/
  .authentication {
    background-image: url("../images/background-image.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.90;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
  }


.authentication #credentials-form {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(0, 0, 0, 0.90);
  border-radius: 4em;
  padding: 2.5em;
  min-width: 15em;
  min-height: 30em;
  max-width: 30em;
  max-height: 50em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 200px rgba(255, 255, 255, 0.3);
}

.authentication #credentials-form > h1 {
  color: #ffffff;
  margin: 0;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.authentication #credentials-form > h1 > p {
  font-size: 0.8em;
  color: #ffffff;
  font-weight: 400;
  padding-top: 1em;
}

.authentication #credentials-form form {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.authentication #credentials-form form input {
  margin: 0.5em 0;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid #ccc;
  width: 25em;
}

.authentication #credentials-form form input[type="submit"] {
  background-color: #24252A;
  color: #ffffff;
  font-weight: bold;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}

.authentication #credentials-form form input[type="submit"]:hover {
  background-color: #000;
  opacity: 1.0;
  transition: 0.3s;
}

.authentication #credentials-form p {
  font-size: 0.8em;
  color: #ffffff;
}

.authentication #credentials-form form a {
  font-weight: bold;
  text-decoration: none;
  margin-top: 1em;
}
/*-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x*/
                        /* CSS for Navbar */
#menu {
  grid-column: 1 / 2;
  background-color:#24252A;
  font-size: 1em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow-wrap: anywhere;
  padding: 0 1em;
}   

#menu .logo {
  max-width: 65%;
  margin: 7em auto 0 auto;
}

#menu li {
  font-family: "Montserrat",sans-serif;
  font-size: 1.2em;
  text-decoration: none;
  color: white;
  font-weight: 600;
  list-style: none;
  margin: 0.5em 0;
} 

#menu li:hover {
  background-color: #46464b;
  border-radius: 1em;
  cursor: pointer;
  transition: 0.4s;
}

#menu .active {
  background-color: #141427;
  border: 1px solid #141427;
  border-radius: 1em;
}

#menu li .material-symbols-outlined {
  margin-right: 0.8em;
  vertical-align: middle;
}

#menu li a {
  font-weight: 600;
  display: block;
  height: 100%;
  padding: 1.2em;
}

#menu ul {
  padding: 0;
  display: flex;  
  flex-direction: column;
} 

#menu footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 1em 4em 1em;
  box-sizing: border-box;
  font-family: "Montserrat",sans-serif;
  color: white;
  font-size: 0.8em;
  font-weight: 600;
}

#menu footer > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
}

#menu footer > a {
  display: flex;
  align-items: center;
  font-family: inherit;
}

#menu footer span {
  padding-left: 0.3em;
}


/*-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x*/
                        /* CSS for Edit Profile */

#profile {
  background-color:#141427;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto auto;
  border: 4px solid #ccc;
  border-radius: 20px;
  font-family: "Montserrat",sans-serif;
  padding: 5em;
  width: 25em;
  margin-top:5em;
}

#profile label {
  margin-bottom: 5px;
  font-weight: bold;
  color:white; 
}

#profile input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #03f7ff;
  border-radius: 2.5em;
  width: 70%;
  box-sizing: border-box;
  font-weight: bold;
}

#profile input[type="text"]{
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #03f7ff;
    border-radius: 2.5em;
    width: 70%;
    box-sizing: border-box;
    font-weight: bold;
}

#profile form button[type="submit"] {
  background-color: #00eeff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

button[type="submit"]:hover {
  background-color: #0004ff;
}

