@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

html {
  font-family: "Montserrat",sans-serif;    
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

#main-wrapper {
    display: grid;
    grid-template-columns:20% 80%;
    height: 100vh;
}


main > p {
    font-family: "Montserrat",sans-serif;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.5;
    text-align: justify;
    margin: 0 auto;
}

#menu {
    grid-column: 1 / 2;
    background-color:#24252A;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    text-align: left;
    overflow-wrap: anywhere;
    padding: 0 1em;
}   

#menu li {
    font-family: "Montserrat",sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    font-weight: 600;
    list-style: none;
    margin: 0.5em 0;
} 

#menu li:hover {
    background-color: #46464b;
    border-radius: 1em;
    cursor: pointer;
    transition: 0.4s;
}

#menu .active {
    background-color: #141427;
    border: 1px solid #141427;
    border-radius: 1em;
}

#menu li .material-symbols-outlined {
    margin-right: 0.8em;
    vertical-align: middle;
}

#menu li a {
    font-weight: 600;
    display: block;
    height: 100%;
    padding: 1.2em;
}

#menu ul {
    padding: 0;
    display: flex;  
    flex-direction: column;
} 

#menu footer button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
}

main {
    grid-column: 2 / 3;
    padding: 3em;
    word-break: break-word;
    overflow-y: scroll;
    background-color: #17171c;
    color: white;
}


/*-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x*/
                        /* CSS for index.php */

#home_main {
    background-image: url("../images/background-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.85; /* Change the value to make the background less or more opaque */
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

#home_main h1 {
    font-family: "Montserrat", sans-serif;
    color: white;
    margin: auto auto;
    font-size: 3.3em;
    letter-spacing: 0.1em;
}

/*-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x*/
                        /* CSS for search bar */

#main-wrapper main > header:first-child {
    display: flex;  
    width: 95%;
    align-items: center;
    justify-content: space-between;
    margin: auto auto 2.5em auto;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #31333a;
    color: white;
    border-radius: 25px;
    padding: 5px 10px;
    width: 25em;
  }
  
  .search-form input[type="text"] {
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 100%;
    padding: 0.8em;
    color:white;
    margin-bottom: 0;
}
  .search-form input[type="text"]::placeholder {
    color: white;
    opacity: 0.5;
    font-size: 1em;
}
  
  .search-form button[type="submit"] {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    margin-left: -30px;
  }

  .search-form input[type="text"]:focus {
    outline: none;
  }

.create-ticket, .add-faq {
    font-family: "Montserrat",sans-serif;
    background-color: #31333a;
    color: white;
    border-radius: 25px;
    display: flex;
    border: 1px solid #31333a;
    cursor: pointer;
    transition: 0.4s;
}

.create-ticket > a, .add-faq > a {
    display: flex;  
    align-items: center;
    padding: 1em;
    height: 100%;
}

.create-ticket:hover, .add-faq:hover {
    background-color: #46464b;
    border: 1px solid #46464b;
}

.create-ticket .material-symbols-outlined, .add-faq .material-symbols-outlined {
    margin-right: 0.5em;
}

/*-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x*/
                        /* CSS for Ticket */

  .ticket-list {
    width: 95%;
    font-family: "Montserrat",sans-serif;
    margin: auto;
    border-collapse: collapse;
  } 
  
  .ticket-list th, td {
    text-align: left;
    padding: 0.5em;
  }
  
  table select {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
  }

  table option {
    background-color: #31333a;
    color: white;
  }

  .ticket-list td{
    color: #d7d7d7;
    font-size: 0.9em; 
  }

  .ticket-list .table-title{
    font-weight: bold;
    color:white;
    font-size: 0.9em;
    padding: 0.5em;
  }

  .ticket-list thead::after {
    content: ' ';
    display: block;
    height: 1em;
  }

  .ticket-list tr:nth-child(2n + 3) td {
    padding-top: 1em;
  }

  .ticket-list tr:nth-child(2n) {
    border-bottom:1px solid rgba(255, 255, 255, 0.3);
  }

  .ticket-list tr:nth-child(2n) td {
    padding: 1em 0.5em;
  }

  .priority-high{
    background-color: rgb(126, 0, 0);
    border-radius: 0.5em;
    text-align: center;
    border: 0.3em;
    padding: 0.3em;
    font-size: 0.8em;
    width: 85%;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .priority-medium{
    background-color: rgb(185, 60, 1);
    border-radius: 0.5em;
    text-align: center;
    padding: 0.3em;
    font-size: 0.8em;
    width: 85%;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .priority-low{
    background-color: rgb(1, 114, 167);
    border-radius: 0.5em;
    text-align: center;
    padding: 0.3em;
    font-size: 0.8em;
    width: 85%;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .pagination li {
    list-style: none;
    margin: 0.5em;
    border-radius: 0.5em;
    background-color: #31333a;
  }

  .pagination li.active {
    background-color: #46464b;
    scale: 1.1;
    font-weight: bold;
  }

  .pagination li a {
    display: block;
    padding: 1em;
    color: white;
  }

  .pagination li a:hover {
    background-color: #46464b;
    border-radius: 0.5em;
  }

  .ticket-options {
    display: flex;
    width: 40%;
    padding: 0 2.5em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7em;
  }

  .ticket-options .material-symbols-outlined {
    font-size: 1.5em;
  }

  button.delete {
    display: flex;
    align-items: center;
    background-color: rgb(126, 0, 0);
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
    color: white;
    cursor: pointer;
  }

  button.delete:hover {
    background-color: rgb(185, 60, 1);
  }

  .ticket-options select {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
  }

  .ticket-options option {
    background-color: #31333a;
    color: white;
  }


  /** LOGIN PAGE **/
  .authentication {
    background-image: url("../images/background-image.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.90;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
  }


.authentication #credentials-form {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(0, 0, 0, 0.90);
  border-radius: 4em;
  padding: 2.5em;
  min-width: 15em;
  min-height: 30em;
  max-width: 30em;
  max-height: 50em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 200px rgba(255, 255, 255, 0.3);
}

.authentication #credentials-form > h1 {
  color: #ffffff;
  margin: 0;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.authentication #credentials-form > h1 > p {
  font-size: 0.8em;
  color: #ffffff;
  font-weight: 400;
  padding-top: 1em;
}

.authentication #credentials-form form {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.authentication #credentials-form form input {
  margin: 0.5em 0;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid #ccc;
  width: 25em;
}

.authentication #credentials-form form input[type="submit"] {
  background-color: #24252A;
  color: #ffffff;
  font-weight: bold;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}

.authentication #credentials-form form input[type="submit"]:hover {
  background-color: #000;
  opacity: 1.0;
  transition: 0.3s;
}

.authentication #credentials-form p {
  font-size: 0.8em;
  color: #ffffff;
}

.authentication #credentials-form form a {
  font-weight: bold;
  text-decoration: none;
  margin-top: 1em;
}
/*-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x*/
                        /* CSS for Navbar */
#menu {
  grid-column: 1 / 2;
  background-color:#24252A;
  font-size: 1em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow-wrap: anywhere;
  padding: 0 1em;
}   

#menu .logo {
  max-width: 65%;
  margin: 25% auto 0 auto;
  padding-bottom: 10%;
}

#menu li {
  font-family: "Montserrat",sans-serif;
  font-size: 1.2em;
  text-decoration: none;
  color: white;
  font-weight: 600;
  list-style: none;
  margin: 0.5em 0;
} 

#menu li:hover {
  background-color: #46464b;
  border-radius: 1em;
  cursor: pointer;
  transition: 0.4s;
}

#menu .active {
  background-color: #141427;
  border: 1px solid #141427;
  border-radius: 1em;
}

#menu li .material-symbols-outlined {
  margin-right: 0.8em;
  vertical-align: middle;
}

#menu li a {
  font-weight: 600;
  display: block;
  height: 100%;
  padding: 1.2em;
}

#menu ul {
  padding: 0;
  display: flex;  
  flex-direction: column;
} 

#menu footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 1em 15% 1em;
  box-sizing: border-box;
  font-family: "Montserrat",sans-serif;
  color: white;
  font-size: 0.8em;
  font-weight: 600;
}

#menu footer > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
}

#menu footer > a {
  display: flex;
  align-items: center;
  font-family: inherit;
}

#menu footer span {
  padding-left: 0.3em;
}


/*-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x*/
                        /* CSS for Edit Profile */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto auto;
  border: 4px solid #ccc;
  border-radius: 20px;
  font-family: "Montserrat",sans-serif;
  padding: 5em;
  width: 25em;
  margin-top:5em;
}

#profile label {
  margin-bottom: 5px;
  font-weight: bold;
  color:white; 
}

#profile input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 1em;
  width: 70%;
  box-sizing: border-box;
  font-weight: bold;
}

#profile form button[type="submit"] {
  background-color: #0e0e24;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

/* CREATE TICKET PAGE AND FORM */

.ticket-form, .faq-form {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 100%;
  margin-top:5em;
}

/* customize hashtag  that is a ul*/
.ticket-hashtags {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 1em;
  padding: 0;
}

.ticket-meta input[name="hashtags"] {
  padding: 0.5em 1em;
  margin: 0.5em 0;
  border-radius: 5px;
  border: 2px solid #0e0e24;
  font-size: 1em;
  font-weight: 600;
  color: #0e0e24;
  background-color: #f5f5f5;
  width: 100%;
  height: 4em;
  box-sizing: border-box;
}

.ticket-meta .ticket-hashtags li {
  font-size: 0.9em;
  font-weight: 600;
  color: #0e0e24;
  background-color: #f5f5f5;
  padding: 0.3em 1em;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}

.ticket-meta li:last-child ul {
  padding: 0;
}

.attachments > li > a {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.ticket-meta .ticket-hashtags li a:before {
  content: "#";
}

.ticket-meta .ticket-hashtags li a > span {
  font-size: 0.9em;  
  pointer-events: none;
}

.ticket-form label, .faq-form label {
  margin-bottom: 5px;
  font-weight: bold;
  color:white; 
}

.ticket-form input[type="text"], .faq-form input[type="text"]{
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #0e0e24;
    border-radius: 2.5em;
    width: 50%;
    box-sizing: border-box;
    font-weight: bold;
}

/* customize dropdown department */
.ticket-form select {
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #0e0e24;
  border-radius: 2.5em;
  width: 30%;
  box-sizing: border-box;
  font-weight: bold;
  background-color: white;
}

/* customize description box, wide box */
.ticket-form textarea, .faq-form textarea {
  font-family: "Montserrat",sans-serif;
  padding: 1em;
  border-radius: 0.5em;
  margin-bottom: 1em;
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
  background-color: white;
  color: black;
  resize: none;
}

.ticket-form input[type="file"] {
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.ticket-form input[type="submit"], .faq-form input[type="submit"] {
  background-color: #31333a;
  width: 20%;
  margin: 0 auto;
  color: white;
  padding: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.ticket-form input[type="submit"]:hover, .faq-form input[type="submit"]:hover {
  background-color: #46464b;
}

/* TICKET PAGE */

/* ticket styles */
.ticket-body {
  list-style-type: none;
  border-bottom: 1px solid #46464b;
  padding: 3em;
}

.ticket-body .ticket-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-column: 1/2;
}

.ticket-body form .ticket-header > h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

.ticket-body form .ticket-header > span {
  cursor: pointer;
}

.ticket-body form .ticket-description {
  grid-column: 1/2;
}

.ticket-body form .ticket-header > input[type="text"] {
  background-color: transparent;
  color: white;
  font-family: Arial;
  font-size: 1.5em;
  border-radius: 5px;
  border: 1px solid #46464b;
  padding: 0.5em;
}

.ticket-body form textarea.ticket-description {
  background-color: transparent;
  color: white;
  font-family: Arial;
  resize: none;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #46464b;
  padding: 0.5em;
  margin: 0.5em 0;
}

.ticket-body > form {
  display: grid;
  grid-template-columns: 80% 20%;

}

.ticket-meta {
  grid-column: 2/3;

  font-family: Arial;
  background-color: rgba(23, 23, 28, 0.5);
  border-radius: 20px;
  padding: 1em;
  font-size: 0.8em;
  line-height: 2em;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.ticket-meta li {
  display: inline-block;
}

#comments {
  display: flex;
  flex-direction: column;
  padding: 3em;
}

.comment {
  padding: 1.5em 1em;
  background-color: rgba(39, 39, 43, 0.5);
  border-radius: 5px;
  margin: 1em 0em;
}

.comment .attachments {
  font-size: 0.8em;
}

.comment > h3 {
  margin-top: 0;
  font-size: 0.9em;
  font-weight: bold;
}

.comment > h4 {
  font-size: 0.8em;
}

.comment p {
  font-family: Arial;
  margin-bottom: 0;
}

.comment p:nth-child(3) {
  font-size: 0.7em;
  font-style: italic;
}

.comment-form {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  height: 4em;
}

.comment-form textarea {
  width: 100%;
  border: 0;
  font-family: Arial;
  outline: none;
  padding: 0.5em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  resize: none;
}

.comment-form button {
  background-color: #3c3e46;
  color: white;
  padding: 0.5em;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.comment-form input[type="file"] {
  display: none;
}

#comment-extras {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0.5em;
  font-size: 0.8em;
  width: 15%;
  color: #000;
  background-color: #fff;
}

#comment-extras > span {
  cursor: pointer
}

#comments #faq-select {
  background-color: #31333a;
  border-radius: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  margin-left: auto;
}

#comments #faq-select select {
  background-color: #3c3e46;
  color: white;
  padding: 0.5em;
  margin-left: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

/* FAQ PAGE */

.faq h2 {
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
}

.faq h2::after {
  content: "+";
  margin-left: 0.5em;
}

.faq p {
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  transition: all 0.3s ease;
}

.faq p.active {
  margin: 1em 0;
  display: block;
  opacity: 1;
  max-height: 100%;
  
  visibility: visible;
  transition: all 0.3s ease;

}

.faq ol {
  padding-inline-start: 1.5em;
}

.faq li {
  padding: 1em;
  border-bottom: 1px solid #46464b;
}

.faq li button {
  float: right;
}

.faq li > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#main-wrapper #faq-page > header {
  width: 100%;
}

/* MANAGEMENT PAGE */

#main-wrapper #management-page > header {
  display: block;
  margin-left: 0;
}

/* three tab <a> to switch between content */

.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.7em;
  margin-top: 4em;
}

.tabs a {
  display: inline-block;
  padding: 0 5em 0 0;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.tabs a > span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
}

/*show horizontal line on hover appearing left to right */
.tabs a:after {
  display: block;
  content: '';
  padding-bottom: 5px;
  border-bottom: solid 2px #31333a;
  transform: scaleX(0);
  transform-origin: 0% 50%;
  transition: transform 250ms ease-in-out;
}

.tabs a:hover:after {
  transform: scaleX(1);
}

.tabs a.active {
  color: lightblue;
}

.tabs a.active::after {
  transform: scaleX(1);
  border-bottom: solid 2px lightblue;
}

#management-page > section {
  display: none;
}

#management-page > section.active {
  display: block;
}

#management-page table {
  width: 90%;
  font-size: 1em;
  border-collapse: collapse;
  margin-top: 2em;
  text-align: left; 
}

#management-page table thead {
  background-color: #31333a;
  opacity: 0.6;
  color: #fff;
}

#management-page table thead th:first-child {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

#management-page table thead th:last-child {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

#management-page table thead th {
  padding: 1em;
}

#management-page table tbody td {
  padding: 1em;
  font-size: 0.9em;
}

#management-page table td:last-child, #management-page table th:last-child {
  float: right;
}

#management-page .add-entry form {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}


#management-page .add-entry input {
  border: 0;
  font-family: Arial;
  outline: none;
  padding: 0.5em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#management-page .add-entry button {
  background-color: #3c3e46;
  color: white;
  padding: 0.5em;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}




  
  









